.Layout {
  display: flex;
  overflow: hidden;
}

.Layout__block {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.Layout__content {
  flex: auto;
  margin-top: 2.5rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.Bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  margin-left: 3rem;
  border-bottom: 1px solid #1a1a1a;
}
