.Navigation {
  position: fixed;
  left: 0;
  top: 0;
  background: #0c0c0c;
  height: 100vh;
}

.Navigation ul {
  display: flex;
  flex-direction: column;
}
.Navigation li {
  padding: 1rem;
  font-size: 18px;
}
